*
!.*/
!Makefile*
!Kconfig*
!configure
!meson.build
!meson_options.txt
!VERSION
!*.c
!*.h
!*.hx
!*.rst
!*.toml
!*.cfg
!accel/
!audio/
!authz/
!backends/
!block/
!bsd-user/
!chardev/
!common-user/
!configs/
!contrib/
!crypto/
!disas/
!docs/
!dump/
!ebpf/
!fpu/
!fsdev/
!gdb-xml/
!gdbstub/
!host/
!hw/
!include/
!io/
!linux-headers/
!linux-user/
!migration/
!monitor/
!nbd/
!net/
!pc-bios/
!plugins/
!po/
!python/
!pyvenv/
!qapi/
!qemu-camp-2026-exper-Codeman-1999-3/
!qga/
!qobject/
!qom/
!replay/
!roms/
!rust/
!scripts/
!scsi/
!semihosting/
!stats/
!storage-daemon/
!stubs/
!subprojects/
!system/
!target/
!tcg/
!tests/
!tools/
!trace/
!ui/
!util/
